*
{
    margin: 0;
    padding: 0;
}

html
{
    background: rgb(13, 16, 42)
    /* overflow: hidden; */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Helvetica';
    color: #f0c1c1;
    text-transform: uppercase;
    font-size: 10vmin;
    padding-left: 5%;
    padding-right: 5%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

h2
{
    color:#fffafa;
}

a
{
    text-underline-offset:0;
    font-weight: normal;
    color:#ebfbf1;
    cursor: help;
}

.point
{
    position: absolute;
    top: 50%;
    left: 3%;
}

.point .text
{
    position: absolute;
    top: -40px;
    left: 35px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.point:hover .text
{
    opacity: 1;
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: help;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    left: 60%;
    width: 50%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.2);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}